@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

div.container2 {
    position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
  width: 940px;
  height: 385px;
  overflow: hidden
}


div.container3 {
 width:30%;
    height:100%;
    float:left;
  background-color: rgba(85, 102, 51,0.6)
}

div.container3 img {
    margin-top: 15%;
    margin-left: -7%;
}

div.container4 {
width: 70%;
    height:100%;
  background-color: rgb(238, 238, 255);
  overflow: hidden
}

div.container4 h1 {
    font-size: 50px;
    color: rgb(51,170,221);
}
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/data/fondo.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
  margin: 2rem 0 0 9rem;
  padding: 0.5rem;
}

.login-form p {
    font-size: 20px;
}

.loginBox {
    padding: 0.5rem 2.5rem;
}

.login-btn {
  position: absolute;
  left: 30rem;
  bottom: 1rem;
  border: 0.6rem solid transparent;
}
